<body class="theme-blue">
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="http://www.wrraptheme.com/templates/lucid/html/assets/images/logo-white.svg" alt="Lucid">
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Login to an account</p>
          </div>
          <div class="body">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="'username'" name="username" placeholder="Your username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" [formControlName]="'password'" placeholder="Password" name="password" placeholder="Your password">
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
              <div class="bottom" style="margin-top:10px;">
                <span class="helper-text">Have not an account ? <a routerLink="/signup">Create</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
