<div mat-dialog-title style="display:flex; justify-content:space-between">
  <p class="lead" *ngIf="create_category == data.dialogType">Create a category</p>
  <p class="lead" *ngIf="update_category == data.dialogType">Update a category</p>
  <p class="lead" *ngIf="delete_category == data.dialogType">Delete this category ?</p>

  <p class="lead" *ngIf="create_purchase == data.dialogType">Create a purchase</p>
  <p class="lead" *ngIf="update_purchase == data.dialogType">Update a purchase</p>
  <p class="lead" *ngIf="delete_purchase == data.dialogType">Delete this purchase ?</p>

  <span class="svg-icon svg-icon-primary svg-icon-2x" mat-dialog-close>
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
              <rect x="0" y="7" width="16" height="2" rx="1"/>
              <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
          </g>
      </g>
    </svg>
  </span>
</div>
<mat-dialog-content class="mat-typography">

  <form class="form" [formGroup]="data.purchaseForm" *ngIf="create_purchase == data.dialogType">
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'name'"  name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'description'"  name="description" placeholder="Description">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" [formControlName]="'price'"  name="price" placeholder="Price">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" [formControlName]="'quantity'"  name="quantity" placeholder="Quantity">
    </div>
    <div class="form-group">
      <select class="form-control" name="categoryId" [formControlName]="'categoryId'">
        <option value="">Please select a category</option>
        <option value="{{category.categoryId}}" *ngFor="let category of data.categories">{{category.name}}</option>
      </select>
    </div>
  </form>

  <form class="form" [formGroup]="data.categoryForm" *ngIf="create_category == data.dialogType">
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'name'"  name="name" placeholder="Name">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display:flex; justify-content:center">
  <button [mat-dialog-close]="true" type="button" class="btn btn-primary btn-lg">Save</button>
  <button mat-dialog-close type="button" class="btn btn-secondary btn-lg" style="margin-left: 20px;">Cancel</button>
</mat-dialog-actions>
